{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "printWidth": 80,
        "htmlWhitespaceSensitivity": "strict"
      }
    },
    {
      "files": ".eslintrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.+(js|jsx|ts|tsx|vue)",
      "options": {
        "parser": "babel"
      }
    }
  ],
  "rules": {
    "space-before-function-paren": ["error", "always"]
  }
}
